body {
  padding-top: 70px;
}

body .container table tr .middle {
  vertical-align: middle;
  overflow: hidden;
}

.copyright {
  margin-left: 0;
  background-color: #222;
}

body > .footer {
  padding: 0;
  /* margin-top: 15px; */
}

.bottom-null {
  margin-bottom: 0;
}

.inverse {
  background-color: #222;
  border-color: #080808;
  color: #fff;
}

li.separator {
  border-top: 1px solid #555;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
    padding: 0;
  }
  li.separator {
    border-top: 0;
    border-left: 1px solid #555;
  }
}

/* @media (min-width: 853px) {
  .container {
    width: 750px;
  }
} */

@media (min-width: 992px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 75%;
  }
}

body .container .panel .panel-heading {
  font-weight: bold;
}

.table {
  margin-bottom: 0;
}
