{% extends "base.html" %} {% block app_content %}
<h3>Выберите дату:</h3>
<form action="" method="POST" class="row">
  {{ form.hidden_tag() }}
  <div class="col-xs-8 col-md-3">
    {{ form.date(value=date_max, max=date_max, min=date_min, class="form-control") }}
  </div>
  <div class="col-xs-4 col-md-2">
    <input type="submit" value="Отправить" class="btn btn-default">
  </div>
  </p>
</form>

<h3>Последние доступные дни:</h3>
{% for item in data %}
<p>
  <a href="{{ url_for('main.archive_date', date=item) }}">{{ item }}</a>
</p>
{% endfor %} {% endblock %}
